<!doctype html>
<html lang="en" ng-app="ancestoryApp" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="set-cookie" th:content="'XSRF-TOKEN='+${_csrf.token}+';path=/'" />
	<meta http-equiv="set-cookie" th:content="'XSRF-HEADER='+${_csrf.headerName}+';path=/'" />
	<base href="/ancestory"/>
	<title>Ancestory</title>
	<link rel="stylesheet" href="external/css/bootstrap.min.css"/>
	<script src="external/js/angular.min.js"></script>
	<script src="external/js/angular-route.min.js"></script>
	<script src="external/js/ui-bootstrap-tpls.min.js"></script>
	<script src="js/ancestoryApp.js"></script>
	<script src="js/namelistController.js"></script>
	<script src="js/placelistController.js"></script>
	<script src="js/userlistController.js"></script>
	<script src="js/userdialogController.js"></script>
	<link rel="stylesheet" href="css/ancestory.css"/>
	
</head>
<body class="container-fluid">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><span class="ancestory-icon"></span><span>Ancestory</span></a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/ancestory/names">Names</a></li>
			<li><a href="/ancestory/places">Places</a></li>
			<li><a href="/ancestory/users">Users</a></li>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li class="dropdown">
				<a id="account-dropdown" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user"></span>
				</a>
				<div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="account-dropdown">
					<form th:action="@{/logout}" method="post">
						<button class="btn btn-danger" type="submit">Log out</button>
					</form>
				</div>
			</li>
		</ul>
	</nav>

	<div ng-view=""></div>

</body>
</html>